.faq__flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .faq {
        background-color: $bgcolor;
        border-radius: 5px;
        padding: 1em;
        margin: 0.7em 2em;
        box-shadow: $boxshadow; 
        &__pregunta {
            color: $fontcolorhover;
            font-weight: 600;
            font-size: 17px;
        }
        &__respuesta {
            color: $fontcolor;
            padding: 5px;
            text-align: justify;
        }
    }
}